### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data = [4 , 8 , 15 , 16 , 23 , 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
lst = [5 , 2 , 3 , 1 , 7 , 8 , 9 , 10 , 6 , 4]
lst_series = pd.Series(lst)
print(lst_series)

0     5
1     2
2     3
3     1
4     7
5     8
6     9
7    10
8     6
9     4
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
data = {
        'Name' : ['Alice' , 'Bob' , 'Claire'] ,
        'Age' : [25 , 30 , 27],
        'Gender' : ['Female' , 'Male' , 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame = DataFrame is a two-dimensional tabular data structure that consists of rows and columns. It is one of the primary data structures provided by the pandas library for data manipulation and analysis.

series = Series is a one-dimensional labeled array-like data structure. It can be thought of as a column in a table or a single column from a spreadsheet. A Series contains a sequence of values and their associated labels or index.

The main difference between a DataFrame and a Series is their dimensionality. A DataFrame is a two-dimensional structure with rows and columns, while a Series is a one-dimensional structure representing a single column or a sequence of values. DataFrames are used for working with structured, tabular data with multiple variables, while Series are useful for working with individual columns or arrays of data.

In [5]:
# Example of data frame
data = {
        'Name' : ['Alice' , 'Bob' , 'Claire'] ,
        'Age' : [25 , 30 , 27],
        'Gender' : ['Female' , 'Male' , 'Female']
}

df = pd.DataFrame(data)
print(df)

# Example of Series
lst = [5 , 2 , 3 , 1 , 7 , 8 , 9 , 10 , 6 , 4]
lst_series = pd.Series(lst)
print(lst_series)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0     5
1     2
2     3
3     1
4     7
5     8
6     9
7    10
8     6
9     4
dtype: int64

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Common functions of pandas Dataframe

head() : it will give you first 5 rows of the dataframe, if give parameter is 3 then it will give first 3 rows
Tail() : it will give last 5 rows of the dataframe, if we give parameter is 3 then it will give last 3 rows
shape() : The shape attribute returns the dimensions of the DataFrame as a tuple (number of rows, number of columns)
info():  This function provides a summary of the DataFrame, including the number of non-null values in each column, the data types, and memory usage. It helps in understanding the data's composition and identifying potential missing values.


example : suppose we have a large dataset in csv file then we have to find summary of dataset (how many rows , columns , non-null values and its datatype etc )

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

series and dataframe are mutable but panel is not

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:

name_series = pd.Series(['John', 'Emma', 'Michael', 'Sophia'])
age_series = pd.Series([18, 19, 17, 18])
grade_series = pd.Series([85, 92, 78, 89])


df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'Grade': grade_series})


print(df)

      Name  Age  Grade
0     John   18     85
1     Emma   19     92
2  Michael   17     78
3   Sophia   18     89